:root {
  --bg: #f7f7fb;
  --text: #12131a;
  --card: #ffffff;
  --border: #e6e6f0;
  --input: #ffffff;
  --btn: #ffffff;

  --accent: #3b82f6;
  --accentText: #ffffff;

  --danger: #ef4444;

  --chipActive: #111827;
  --chipText: #ffffff;

  --statBg: #fafafa;
  --itemBg: #ffffff;
  --kbdBg: #f3f4f6;
}

[data-theme="dark"] {
  --bg: #0b0d12;
  --text: #f3f4f6;
  --card: #0f172a;
  --border: #24314a;
  --input: #0b1222;
  --btn: #0b1222;

  --accent: #60a5fa;
  --accentText: #0b0d12;

  --danger: #fb7185;

  --chipActive: #e5e7eb;
  --chipText: #0b0d12;

  --statBg: #0b1222;
  --itemBg: #0b1222;
  --kbdBg: #0b1222;
}